<h1 class="title">Back Office CRUDS</h1>
<p class="description">Please choose one of the next options:
<div class="meta"><%= link_to "Product Lines", "/plines" %></div>
<div>Providers</div>
<div>Products</div>
</p>
