<h1 class="title">Proof of Concept: BackOffice Operations</h1>
<div class="description">Please choose one of the next options:</div>
<div class="container">
    <div class="links"><%= link_to "Product Lines", "/plines" %></div>
    <div class="links"><%= link_to "Providers", "/provider" %></div>
    <div class="links"><%= link_to "Products", "/product" %></div>
</div>

