/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body{
     margin: 0;
     background-color: #3a3a3a;
 }

 body *{
     color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;

     justify-content: center;

     border-radius: 5px;
     align-items: center;
 }

 div {
     margin-left: 20px;
 }

 input {
     color: black;   
 }

 h1{
    font-size: 2.5em;
}
.description{
    background-color: rgba(9, 0, 0, 0.199);
    padding: 2em;
    font-size: 2em;
    max-width: 600px;
}
.meta *{
    display: flex;
    background-color: yellow;
}
.links *{
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: #e3eaa7;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

#tabledata {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabledata td, #tabledata th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #tabledata tr:nth-child(even){background-color: #a2b9bc;}
  
  #tabledata tr:hover {background-color: #b2ad7f;}
  
  #tabledata th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }